DATABASE_IP=DATABASE_IP:PORT
DATABASE_USER=DATABASE_USER
DATABASE_PASSWORD=DATABASE_PASSWORD
DATABASE_NAME=DATABASE_NAME

# This is the shared secret for TOTP generation.
SHARED_SECRET = "SHARED_SECRET"
SECRET_KEY = "SECRET_KEY"  # Replace with a secure random key for production

# Smtp
SMTP_SERVER = "smtp.gmail.com"
SMTP_PORT = 587
SMTP_USER = "SMTP_USER"
SMTP_PASSWORD = "SMTP_PASSWORD"

# Redis
host="ip"
password='password'
port=6379