DATABASE_IP=DATABASE_IP:PORT
DATABASE_USER=DATABASE_USER
DATABASE_PASSWORD=DATABASE_PASSWORD
DATABASE_NAME=DATABASE_NAME

# This is the shared secret for TOTP generation.
SHARED_SECRET = "SHARED_SECRET"

SMTP_SERVER = "smtp.gmail.com"
SMTP_PORT = 587
SMTP_USER = "SMTP_USER"
SMTP_PASSWORD = "SMTP_PASSWORD"