<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Attendance</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="/static/assets/favicon.ico">

</head>

<body class="bg-slate-900 flex items-center justify-center h-screen">
    <div id="card" class="bg-white p-8 rounded-2xl shadow-xl w-80 text-center transition-all duration-300">
        <div id="icon-container" class="mb-4 text-green-500">
            <svg id="main-icon" class="w-12 h-12 mx-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 4v1m6 11h2m-6 0h-2v4m0-11v3m0 0h.01M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z">
                </path>
            </svg>
        </div>
        <div id="clock" class="text-2xl font-mono font-bold text-slate-700 mb-4 tracking-widest">
            00:00:00
        </div>
        <h1 id="title" class="text-xl font-bold text-slate-800 mb-2">Attendance</h1>
        <p id="subtitle" class="text-xs text-slate-500 mb-6">Enter your ID to log your session.</p>

        <input type="text" id="staffId" placeholder="PF/ID NUMBER"
            class="w-full border-2 border-slate-200 p-3 rounded-lg mb-4 focus:border-green-500 outline-none transition">

        <button onclick="submitAttendance()" id="btn"
            class="w-full bg-slate-800 text-white font-bold py-3 rounded-lg hover:bg-slate-900 active:scale-95 transition">
            Submit Attendance
        </button>

        <p id="message" class="mt-4 text-sm font-medium min-h-[2.5rem] flex items-center justify-center"></p>
    </div>
</body>
<script src="/static/js/index.js"></script>

</html>